---
layout: layout
title: 枯叶 - 喜欢编程、热爱生活
tags: 软件知识分享,旅游出行,结识朋友
description: Hello，我是枯叶，我喜欢编程、热爱生活 …… 希望成为你的好朋友，和你交流、和你分享
published: true
---

<div class="box">
{% for post in paginator.posts %}
	<div class="lrow">
		<div class="name" data-uri="{{ post.cover }}"><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></div>
		<div class="text">
			{% for tag in post.tags %}
			<a href="javascript:;" class="word">{{ tag }}</a>
			{% endfor %}
		</div>
		<div class="text gray">{{ post.description }}</div>
	</div>
{% endfor %}
</div>
{% if paginator.total_pages>=2 %}
<div class="page box nopad noborder nobg">
{% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pitm">上一页</a>
{% endif %}
{% for page in (1..paginator.total_pages) %}
	{% if page == paginator.page %}
      <a href="javascript:;" class="pitm active">{{ page }}</a>
    {% elsif page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="pitm">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="pitm">{{ page }}</a>
    {% endif %}
{% endfor %}
{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pitm">下一页</a>
{% endif %}
</div>
{% endif %}
