<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimum-scale=1.0" />
<meta charset="utf-8" />
<title>{{ page.title }}</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-c07e6f4b02b556d1d85052fb3853caf84c80e6b23dcdb1ae1b00f051da1115a2.css" integrity="sha256-wH5vSwK1VtHYUFL7OFPK+EyA5rI9zbGuGwDwUdoRFaI=" media="all" rel="stylesheet" />
    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-b89e1fd40e9dd417a1eb6129940049546c484941f37f055de663ce8b5e397573.css" integrity="sha256-uJ4f1A6d1Beh62EplABJVGxISUHzfwVd5mPOi145dXM=" media="all" rel="stylesheet" />
</head>
<body>
{{ content }}
</body>
</html>