<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta charset="utf-8" />
<title>{{ page.title }}</title>
<meta name="keywords" content="{{ page.tags }}" />
<meta name="description" content="{{ page.description }}" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/css/kuyer.css?v=1" />
<link rel="stylesheet" media="screen and (max-width: 780px)" href="/css/muyer.css?v=1" />
<link rel="stylesheet" href="/css/markdown.css?v=1" />
<link rel="stylesheet" href="/css/highlight.css?v=1" />
</head>
<body>
<div class="page">
	<div class="view header">
		<div class="wrap cleax">
			<div class="item"><a href="/" class="logo"><img src="/img/logo.png" /></a></div>
			<div class="item ittl"><a href="/" class="name">枯叶</a></div>
			<div class="item"><a href="/" class="active"><span>首页</span></a></div>
		</div>
	</div>
	<div class="view mainer">
		<div class="wrap cleax">
			<div class="content">
				{{ content }}
			</div>
			<div class="sidebar">
				<div class="box">
					<div class="lrow">
						<div class="covr"><a href="https://github.com/kuyer" class="img">枯</a></div>
						<div class="cont">
							<a href="https://github.com/kuyer" class="name">枯叶</a>
							<div class="text gray">Hello，我是枯叶 ……</div>
						</div>
					</div>
				</div>
				<div class="box">
					{% for tag in site.tags limit:20 %}
					<a href="javascript:;" class="word">{{ tag[0] }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="view footer">
		<div class="wrap">
			<a href="https://github.com/kuyer" target="_blank">关于枯叶</a>
			<span class="split">|</span>
			<a href="https://github.com/kuyer?tab=repositories" target="_blank">产品中心</a>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/jquery.js?v=1"></script>
</body>
</html>
